p {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.intro, .finalResults {
	padding-top: 50px;
	padding-bottom: 100px;
}

.submit-answer {
	display: block;
	float: right;
	margin-right: 50px;
}

.hidden {
	display: none;
}

.right {
	color: green;
}

.wrong {
	color: red;
}

.current-score {
	position: absolute;
	bottom: 30%;
	left: 0;
	right: 0;
	margin: auto;
}